@import '~../../global';

.base {
  background-color: @blue-grey-darken-3;
  //background-color: white;
  text-align: center;
  padding: @padding-xl @padding-l;
  :global(.body) {
    margin-top: @margin-m;
  }
}
